<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="516d1ec7-350f-4a73-a78f-4fd0292a477a" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="084a1992-2ce9-417c-9b36-fe8799cca31f">contentProperties</Composition>
      <Composition Key="a05bc364-5d84-4872-8193-0713578207f0">headerProperties</Composition>
      <Composition Key="9ec16aa9-524c-4229-87e8-5f16838e59e5">sEOProperties</Composition>
      <Composition Key="65198a15-aeaa-4a4d-8b5c-b40ddd2a5409">taggingProperties</Composition>
      <Composition Key="2c7d9714-a88d-4598-ab96-19fa16857f24">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="70556019-7481-43ab-8c81-53f66774faed">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ec407b96-a927-4406-a096-88e1a27bbbc4" SortOrder="0">contentPage</ContentType>
    <ContentType Key="26369e2c-ac7f-4e8c-b930-f5483b12f0ca" SortOrder="1">searchPage</ContentType>
    <ContentType Key="77c30e63-ed20-4bf8-90dc-7b6022d5cda7" SortOrder="2">siteSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>