<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="77c30e63-ed20-4bf8-90dc-7b6022d5cda7" Alias="siteSettings" Level="2">
  <Info>
    <Name>Site Settings</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ac154807-c683-402f-b00d-be1ac8c73c45">footerProperties</Composition>
      <Composition Key="ad0dac51-dda0-4054-8a52-e4bb808c8b74">mainNavigationProperties</Composition>
      <Composition Key="f603d42e-2d44-4804-a9e7-5c3801e2ab7b">siteSettingsProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="9d965db2-474d-4976-848e-43620096748c" SortOrder="0">pageTags</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>