@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Main.cshtml";
}
<html><body><h1>Test</h1></body></html>
@* display Content Page->Content Properties(compositions)->Header Content/[BlockGrid]->Header Content->Standard Header(component): *@
@await Html.GetBlockGridHtmlAsync(Model, "headerContent")
@* display Content Page->Content Properties(compositions)->Main Content/[BlockGrid]->Main Content->RichText(component): *@
@await Html.GetBlockGridHtmlAsync(Model, "mainContent")