<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="100bc7b8-72be-49c8-be80-3b3b0d60d867" Alias="CopyrightStatement" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Copyright Paul Seal (Umbraco 13 Tutorial - Episode 3 - Templates)</Translation>
  </Translations>
</Dictionary>