<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0763ca89-5d4c-4f02-a062-0cb65f94b692" Alias="[ColorPicker] - White or Secondary" Level="2">
  <Info>
    <Name>[ColorPicker] - White or Secondary</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"ffffff\",\"label\":\"White\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"2c3e50\",\"label\":\"Secondary\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>