<?xml version="1.0" encoding="utf-8"?>
<DataType Key="98d62d7c-784d-4ece-88d8-186a099c9be3" Alias="[MultiUrlPicker]- Navigation Group Child Links" Level="2">
  <Info>
    <Name>[MultiUrlPicker]- Navigation Group Child Links</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>