<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a84f0ca-5e2e-4b0e-bd7d-4bb8ecd5817b" Alias="Aksell Logo Boxed V2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AksellLogoBoxedV2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-16T22:42:57</CreateDate>
    <NodeName Default="Aksell Logo Boxed V2" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/5pyiisro/aksell-logo-boxed-v2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>