<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b44727c-d74e-4115-8b71-199a0c5ed625" Alias="Beach" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Beach</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-19T21:39:17</CreateDate>
    <NodeName Default="Beach" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <location>
      <Value><![CDATA[]]></Value>
    </location>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pjzeio0o/beach.jfif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>