<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc750229-41a7-45e6-9fb7-3b8ff6280a3d" Alias="Download" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Download</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-18T22:51:48</CreateDate>
    <NodeName Default="Download" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <location>
      <Value><![CDATA[]]></Value>
    </location>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/f2bhlpfh/download.jfif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>