<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4096742-8095-41aa-b99e-a19ef13afbe3" Alias="London Bridge 900X650" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LondonBridge900X650</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-19T22:36:36</CreateDate>
    <NodeName Default="London Bridge 900X650" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[London Bridge]]></Value>
    </altText>
    <location>
      <Value><![CDATA[]]></Value>
    </location>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/irtbtrev/london-bridge-900x650.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>