<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8d2e48a-f3ce-41b8-bf8e-11e55960d239" Alias="London" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/London</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-19T21:44:47</CreateDate>
    <NodeName Default="London" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <location>
      <Value><![CDATA[]]></Value>
    </location>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rtsnf0go/london.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>