<?xml version="1.0" encoding="utf-8"?>
<Media Key="396dafb8-739c-463a-9fd2-4a7347ab61ec" Alias="London Bridge" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LondonBridge</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-19T21:45:07</CreateDate>
    <NodeName Default="London Bridge" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <location>
      <Value><![CDATA[]]></Value>
    </location>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/x0xh0om2/london-bridge.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>