<?xml version="1.0" encoding="utf-8"?>
<Media Key="3eb8b8a4-8373-406d-b8cc-af80268724fe" Alias="London 900X650" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/London900X650</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-19T22:36:16</CreateDate>
    <NodeName Default="London 900X650" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[London]]></Value>
    </altText>
    <location>
      <Value><![CDATA[]]></Value>
    </location>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uk2lqptt/london-900x650.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>