<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2a7128d-c654-455d-b250-36cc00fb526e" Alias="Mastodon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mastodon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T22:11:06</CreateDate>
    <NodeName Default="Mastodon" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xqjkpmsu/mastodon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>