<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f5c85cb-4590-4e71-877f-4d31188fd77e" Alias="Standardheaderimage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Standardheaderimage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-05T22:37:09</CreateDate>
    <NodeName Default="Standardheaderimage" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zwcfzh2q/standardheaderimage.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>