<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce2ad7ea-1102-4b4e-8395-17698f36bb5e" Alias="Video White 64Px" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VideoWhite64Px</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-23T23:10:03</CreateDate>
    <NodeName Default="Video White 64Px" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/1pldvtqc/video-white-64px.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>