<?xml version="1.0" encoding="utf-8"?>
<Media Key="27e0fd30-b412-454a-9ac7-4a3b552dc0c7" Alias="Video Upload Svgrepo Com 64Px" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VideoUploadSvgrepoCom64Px</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-23T23:08:52</CreateDate>
    <NodeName Default="Video Upload Svgrepo Com 64Px" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ah4pajys/video-upload-svgrepo-com-64px.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>