<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc8e9aed-8cee-4157-8dae-baba896cd1ca" Alias="X Twitter" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/XTwitter</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T22:04:56</CreateDate>
    <NodeName Default="X Twitter" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1sni3tho/x-twitter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>