<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8e01b7f-2f95-4645-bc57-eb8829db704b" Alias="About" Level="2">
  <Info>
    <Parent Key="35bb8735-caf6-456a-a554-aa7c7dd947e5">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-10-06T20:32:33</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d7c3b079-712f-481e-b09b-cce64ea3070e">ContentPage</Template>
  </Info>
  <Properties>
    <headerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/23cb91964151499a9eceacaca01da1ee"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "89280ad3-5c58-43d2-956f-acf45d227bb9",
      "image": [
        {
          "key": "b3aea38a-d15e-431b-97bf-870bf9049dcd",
          "mediaKey": "9f5c85cb-4590-4e71-877f-4d31188fd77e"
        }
      ],
      "subtitle": "",
      "title": "This is the title",
      "udi": "umb://element/23cb91964151499a9eceacaca01da1ee"
    }
  ],
  "settingsData": []
}]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/ee4732fbbd2542729b0fa2e15cd2a5dc",
        "areas": [
          {
            "key": "20d7692f-01ab-4535-9b3b-f4f97055274c",
            "items": [
              {
                "contentUdi": "umb://element/eeed50474deb41588106645421455be3",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "0db1dcb4-d198-47a6-a379-39d36d96f694",
            "items": [
              {
                "contentUdi": "umb://element/9cd82af774f140ec86a44bc0930bf6df",
                "areas": [
                  {
                    "key": "6e3f11dd-4846-43ef-b18e-60d92bd29659",
                    "items": []
                  }
                ],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "54ecbf46-226e-4e8a-ab27-296f3009428a",
      "udi": "umb://element/ee4732fbbd2542729b0fa2e15cd2a5dc"
    },
    {
      "colour": "",
      "contentTypeKey": "d074cef0-7b80-4b0a-be44-8b5baf9457b3",
      "text": "This is the fiddly tittle",
      "udi": "umb://element/eeed50474deb41588106645421455be3"
    },
    {
      "contentTypeKey": "b7522301-25ce-4195-8c48-328722055e2d",
      "image": [
        {
          "key": "413029f9-d2d7-41c2-8197-7fc50510466b",
          "mediaKey": "bb55c8b5-e3bb-42b8-9862-29362e5a65f5"
        }
      ],
      "link": [
        {
          "name": "Aksell AS",
          "target": "_blank",
          "url": "https://aksell.no"
        }
      ],
      "udi": "umb://element/9cd82af774f140ec86a44bc0930bf6df"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[umb://document/beadc01b34c34001bf4bbfa30687863f,umb://document/c96302192dc74cdcacbdf223326e171c]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>