<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8e01b7f-2f95-4645-bc57-eb8829db704b" Alias="About" Level="2">
  <Info>
    <Parent Key="35bb8735-caf6-456a-a554-aa7c7dd947e5">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-10-06T20:32:33</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5d8fa14f-e12f-4d82-a3c9-eb6ec168c30d">ContentPage</Template>
  </Info>
  <Properties>
    <headerContent>
      <Value><![CDATA[]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[umb://document/beadc01b34c34001bf4bbfa30687863f,umb://document/c96302192dc74cdcacbdf223326e171c]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>