<?xml version="1.0" encoding="utf-8"?>
<Content Key="beadc01b-34c3-4001-bf4b-bfa30687863f" Alias="Block Grid" Level="4">
  <Info>
    <Parent Key="d4767213-206a-4d2b-b400-9cb90d43bb5b">Page Tags</Parent>
    <Path>/Home/SiteSettings/PageTags/BlockGrid</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTag</ContentType>
    <CreateDate>2025-10-09T22:16:48</CreateDate>
    <NodeName Default="Block Grid" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagAlias>
      <Value><![CDATA[]]></Value>
    </tagAlias>
  </Properties>
</Content>