<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9630219-2dc7-4cdc-acbd-f223326e171c" Alias="Block List" Level="4">
  <Info>
    <Parent Key="d4767213-206a-4d2b-b400-9cb90d43bb5b">Page Tags</Parent>
    <Path>/Home/SiteSettings/PageTags/BlockList</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTag</ContentType>
    <CreateDate>2025-10-09T22:18:21</CreateDate>
    <NodeName Default="Block List" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagAlias>
      <Value><![CDATA[]]></Value>
    </tagAlias>
  </Properties>
</Content>