<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4767213-206a-4d2b-b400-9cb90d43bb5b" Alias="Page Tags" Level="3">
  <Info>
    <Parent Key="00e965df-8b02-44fb-9ce6-4f7e81fdf3d7">Site Settings</Parent>
    <Path>/Home/SiteSettings/PageTags</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTags</ContentType>
    <CreateDate>2025-10-09T22:08:27</CreateDate>
    <NodeName Default="Page Tags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>