<?xml version="1.0" encoding="utf-8"?>
<Content Key="00e965df-8b02-44fb-9ce6-4f7e81fdf3d7" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="35bb8735-caf6-456a-a554-aa7c7dd947e5">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-09T21:49:46</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c42180d8759f4ee0ace164390a03233f",
        "areas": [
          {
            "key": "4664f279-1e0d-419f-847c-db8f5fb23eff",
            "items": [
              {
                "contentUdi": "umb://element/f5d3184cb2cc42a29e16fb7c759b0e21",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "bd7c7954-1e2d-41d4-8737-90a478dc1680",
            "items": [
              {
                "contentUdi": "umb://element/8f68a55073ed4b3d86a77b1b9977ef5d",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "7d97f0e4-3d74-44db-818b-8a930d48274a",
            "items": [
              {
                "contentUdi": "umb://element/f27b17c6cccf40b0841db97b1566ca34",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "384c43d6-7e00-45f1-9e6c-553f0c77f888",
      "udi": "umb://element/c42180d8759f4ee0ace164390a03233f"
    },
    {
      "contentTypeKey": "07235015-e542-4817-acc2-a64dec0db138",
      "text": {
        "markup": "<p class=\"lead mb-0\">2215 John Daniel Drive<br>Clark, MO 65243</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "Location",
      "udi": "umb://element/f5d3184cb2cc42a29e16fb7c759b0e21"
    },
    {
      "contentTypeKey": "07235015-e542-4817-acc2-a64dec0db138",
      "text": {
        "markup": "<p>link are coming</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "Around the Web",
      "udi": "umb://element/8f68a55073ed4b3d86a77b1b9977ef5d"
    },
    {
      "contentTypeKey": "07235015-e542-4817-acc2-a64dec0db138",
      "text": {
        "markup": "<p class=\"lead\">This is more</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "About Freelancer",
      "udi": "umb://element/f27b17c6cccf40b0841db97b1566ca34"
    }
  ],
  "settingsData": []
}]]></Value>
    </footerContent>
    <mainNavigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/cd6d19d617384029ab715e88cfa4e9be",
        "areas": [
          {
            "key": "918ecafd-0878-44fc-942c-5931ff4133f9",
            "items": [
              {
                "contentUdi": "umb://element/195fa506d6234545ae68ea81a2066414",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/13218d973efc43c083bcf19a7e5c49c6",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/3180c39d5b9548359888d9f42262e9f3",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0f46472b-bff9-47e2-80bd-f22db5728b73",
      "udi": "umb://element/cd6d19d617384029ab715e88cfa4e9be"
    },
    {
      "childLinks": "",
      "contentTypeKey": "402b6d6d-e7aa-4f43-8e44-85b839f7c794",
      "link": [
        {
          "udi": "umb://document/c8e01b7f2f954645bc57eb8829db704b"
        }
      ],
      "title": "About",
      "udi": "umb://element/13218d973efc43c083bcf19a7e5c49c6"
    },
    {
      "childLinks": "",
      "contentTypeKey": "402b6d6d-e7aa-4f43-8e44-85b839f7c794",
      "link": [
        {
          "udi": "umb://document/030b01f24f904208a0e8e6a687e7e7a3"
        }
      ],
      "title": "Search",
      "udi": "umb://element/195fa506d6234545ae68ea81a2066414"
    },
    {
      "childLinks": [
        {
          "udi": "umb://document/35bb8735caf6456aa554aa7c7dd947e5"
        },
        {
          "udi": "umb://document/c8e01b7f2f954645bc57eb8829db704b"
        },
        {
          "udi": "umb://document/030b01f24f904208a0e8e6a687e7e7a3"
        }
      ],
      "contentTypeKey": "402b6d6d-e7aa-4f43-8e44-85b839f7c794",
      "link": "",
      "title": "Dropdown",
      "udi": "umb://element/3180c39d5b9548359888d9f42262e9f3"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainNavigation>
    <siteName>
      <Value><![CDATA[Site Settings component]]></Value>
    </siteName>
  </Properties>
</Content>