<?xml version="1.0" encoding="utf-8"?>
<Content Key="00e965df-8b02-44fb-9ce6-4f7e81fdf3d7" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="35bb8735-caf6-456a-a554-aa7c7dd947e5">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-09T21:49:46</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c42180d8759f4ee0ace164390a03233f",
        "areas": [
          {
            "key": "4664f279-1e0d-419f-847c-db8f5fb23eff",
            "items": [
              {
                "contentUdi": "umb://element/f5d3184cb2cc42a29e16fb7c759b0e21",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "bd7c7954-1e2d-41d4-8737-90a478dc1680",
            "items": [
              {
                "contentUdi": "umb://element/d12fd85e24624ec8b9a2ea6afa487e37",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "7d97f0e4-3d74-44db-818b-8a930d48274a",
            "items": [
              {
                "contentUdi": "umb://element/f27b17c6cccf40b0841db97b1566ca34",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "384c43d6-7e00-45f1-9e6c-553f0c77f888",
      "udi": "umb://element/c42180d8759f4ee0ace164390a03233f"
    },
    {
      "contentTypeKey": "07235015-e542-4817-acc2-a64dec0db138",
      "text": {
        "markup": "<p class=\"lead mb-0\">2215 John Daniel Drive<br>Clark, MO 65243</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "Location",
      "udi": "umb://element/f5d3184cb2cc42a29e16fb7c759b0e21"
    },
    {
      "contentTypeKey": "07235015-e542-4817-acc2-a64dec0db138",
      "text": {
        "markup": "<p class=\"lead\">This is more</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "About Freelancer",
      "udi": "umb://element/f27b17c6cccf40b0841db97b1566ca34"
    },
    {
      "contentTypeKey": "8116700f-a4e6-4901-a2e6-1c40766b63ea",
      "links": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d8ea078262af4bf38901c0dd89c2e12d"
            },
            {
              "contentUdi": "umb://element/c7f968936242429590106e7afc53e06e"
            },
            {
              "contentUdi": "umb://element/b38eeb0758e744f39999d2cd3144ed36"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "a3f41b42-6ef8-4cc5-81fc-546f3cf4c842",
            "icon": [
              {
                "key": "86b0cda8-34cc-40f4-a3aa-f777657a59e8",
                "mediaKey": "65f7e1cb-b0bc-4064-b251-3f95e7a19983"
              }
            ],
            "iconColour": {
              "value": "dc3545",
              "label": "Danger",
              "sortOrder": 5,
              "id": "6"
            },
            "invertedIconColour": {
              "value": "0dcaf0",
              "label": "Info",
              "sortOrder": 7,
              "id": "8"
            },
            "link": [
              {
                "name": "Facebook",
                "url": "https://facebook.com"
              }
            ],
            "udi": "umb://element/d8ea078262af4bf38901c0dd89c2e12d"
          },
          {
            "contentTypeKey": "a3f41b42-6ef8-4cc5-81fc-546f3cf4c842",
            "icon": [
              {
                "key": "7a2093db-f2fe-45e7-8df3-0baee4345ba6",
                "mediaKey": "cc8e9aed-8cee-4157-8dae-baba896cd1ca"
              }
            ],
            "iconColour": {
              "value": "0dcaf0",
              "label": "Info",
              "sortOrder": 7,
              "id": "8"
            },
            "invertedIconColour": {
              "value": "dc3545",
              "label": "Danger",
              "sortOrder": 5,
              "id": "6"
            },
            "link": [
              {
                "name": "X",
                "url": "https://x.com"
              }
            ],
            "udi": "umb://element/c7f968936242429590106e7afc53e06e"
          },
          {
            "contentTypeKey": "a3f41b42-6ef8-4cc5-81fc-546f3cf4c842",
            "icon": [
              {
                "key": "43ea2786-4d0a-4101-b9b2-ac72fb9c0e79",
                "mediaKey": "b2a7128d-c654-455d-b250-36cc00fb526e"
              }
            ],
            "iconColour": {
              "value": "1abc9c",
              "label": "Primary",
              "sortOrder": 2,
              "id": "3"
            },
            "invertedIconColour": {
              "value": "212529",
              "label": "Dark",
              "sortOrder": 0,
              "id": "1"
            },
            "link": [
              {
                "name": "Mastodon",
                "url": "https://mastodon.com"
              }
            ],
            "udi": "umb://element/b38eeb0758e744f39999d2cd3144ed36"
          }
        ],
        "settingsData": []
      },
      "title": "Social Link",
      "udi": "umb://element/d12fd85e24624ec8b9a2ea6afa487e37"
    }
  ],
  "settingsData": []
}]]></Value>
    </footerContent>
    <mainNavigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/cd6d19d617384029ab715e88cfa4e9be",
        "areas": [
          {
            "key": "918ecafd-0878-44fc-942c-5931ff4133f9",
            "items": [
              {
                "contentUdi": "umb://element/195fa506d6234545ae68ea81a2066414",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/13218d973efc43c083bcf19a7e5c49c6",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/3180c39d5b9548359888d9f42262e9f3",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0f46472b-bff9-47e2-80bd-f22db5728b73",
      "udi": "umb://element/cd6d19d617384029ab715e88cfa4e9be"
    },
    {
      "childLinks": "",
      "contentTypeKey": "402b6d6d-e7aa-4f43-8e44-85b839f7c794",
      "link": [
        {
          "udi": "umb://document/c8e01b7f2f954645bc57eb8829db704b"
        }
      ],
      "title": "About",
      "udi": "umb://element/13218d973efc43c083bcf19a7e5c49c6"
    },
    {
      "childLinks": "",
      "contentTypeKey": "402b6d6d-e7aa-4f43-8e44-85b839f7c794",
      "link": [
        {
          "udi": "umb://document/030b01f24f904208a0e8e6a687e7e7a3"
        }
      ],
      "title": "Search",
      "udi": "umb://element/195fa506d6234545ae68ea81a2066414"
    },
    {
      "childLinks": [
        {
          "udi": "umb://document/35bb8735caf6456aa554aa7c7dd947e5"
        },
        {
          "udi": "umb://document/c8e01b7f2f954645bc57eb8829db704b"
        },
        {
          "udi": "umb://document/030b01f24f904208a0e8e6a687e7e7a3"
        }
      ],
      "contentTypeKey": "402b6d6d-e7aa-4f43-8e44-85b839f7c794",
      "link": "",
      "title": "Dropdown",
      "udi": "umb://element/3180c39d5b9548359888d9f42262e9f3"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainNavigation>
    <siteName>
      <Value><![CDATA[Site Settings component]]></Value>
    </siteName>
  </Properties>
</Content>